


.search-body {
  background: lightgray;
  width: 100%;
  height: 500px;
  padding-top: 15px;
  border-top: 3px solid black;
  margin-top: 35px;
  border: 3px solid black;
}


.search-title {
  font-size: 20px;
  font-weight: bold;
}

.search-form {
  margin-right: 10%;
}

.input-line {
  margin-top: 10px;
}

.input-title {
  margin-left: 15%;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.search-input-tag {
  margin-left: 15px;
  padding-left: 5px;

}

.search-input-state {
  margin-left: 5px;
  padding-left: 5px;
}

.search-btn-area {
  margin-left: 6%;
}

.search-btn {
  margin-top: 10px;
}

.form-error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.search-error-area {
  color: red;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 20px;
}

.search-demo-tag-window {
  width: 50%;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}














