


.list-area {
  background: rgb(233, 233, 32);
  /* margin-top: 185px; */
  max-height: 600px;
  overflow: auto;
}

.list-area-open {
  /* margin-top: 440px; */
  background:rgb(233, 233, 32);

  max-height: 400px;
  overflow: auto;
}


.list-area2 {
  background: rgb(233, 233, 32);
  margin-top: 185px;
}

.list-area-open2 {
  margin-top: 440px;
  background: orange;

}

/* need to make this a fixed area  */
.list-info-area {
  width: 100%;
  border-bottom: 1px solid gray;

  position: fixed;
  top: 100px;
  background: orange;
  z-index: 2;
}

.list-store-title {
  font-size: 40px;
  font-weight: bold;
  color: black;
  font-family: 'Kalam', cursive;
}

.update-edit-area {
  color: red;
  display: inline-block;
  width: 45%;
}

.list-qty-remaining {
  display: inline-block;
  width: 55%;
  font-size: 15px;
  color: rgb(141, 140, 140);
  font-family: 'Kalam', cursive;
  font-weight: bold;
  padding-right: 5px;
}

.list-qty-remaining-solo {
  font-size: 17px;
  color: rgb(141, 140, 140);
  font-family: 'Kalam', cursive;
  font-weight: bold;
  padding-right: 15px;
}

.save-edit-btn {
  display: inline-block;
  color: green;
  font-weight: bold;
  margin-left: 10px;
}

.cancel-edit-btn {
  display: inline-block;
  color: red;
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}


.list-container {
  margin-top: 181px;
  position: relative;
}

.list-container-open {
  margin-top: 430px;
}


.item-list-container {
  width: 100%;
  border-top: 1px solid gray;
  /* margin-left: 15px; */
  /* overflow: auto; */
}

.item {
/* margin-top: 10px; */
padding-top: 5px;
padding-bottom: 5px;

border-bottom: 1px solid gray;
cursor: pointer;
}

.item-container {
  /* background: lightblue; */
  width: 85%;
  display: inline-block;

  /* float: left; */
}

.item-name {
  margin-left: 15px;
  font-weight: bold;
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Kalam', cursive;
  font-size: 17px;
}

.item-qty {
  margin-left: 12px;
  font-weight: bold;
  /* font-family: 'Patrick Hand', cursive; */
  font-family: 'Kalam', cursive;
  font-size: 14px;
}

.item-btn-container {
  width: 15%;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item-delete-btn {
  color: red;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}

.item-line {
  width: 90%;
  text-align: center;
  color: gray;
}

.strike {
  text-decoration: line-through;
  color: red;
  font-size: 17px;
  font-weight: bold;
  opacity: .7;
}

.item-edit-btn {
  color: blue;
  font-family: 'Kalam', cursive;
  font-size: 14px;
  padding-right: 5px;
  font-weight: bold;
}

.list-edit-window {
  width: 100%;
  padding-bottom: 20px;
  background: yellow;

}

.list-edit {
  background: yellow;
  color: black;
  padding-left: 5px;


}

.input-title {
  font-weight: bold;
  color: black;
  font-family: 'Kalam', cursive;
  font-size: 18px;
  margin-top: 5px;
}


.edit-submit-btn {
  margin-top: 10px;
  background: green;
  color: white;
  cursor: pointer;
}











