

.menu-area {
  /* height: 300px; */
  width: 100%;
  background: yellow;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-bottom: 25px;

}



.menu-link {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  font-family: 'Kalam', cursive;
}

.stores-dropdown {
  width: 100%;
  font-family: 'Kalam', cursive;
  /* height: 100px; */
  /* background: orange; */
}

.store-listing {
  margin-top: 8px;
  margin-left: 50px;
  font-size: 20px;
  cursor: pointer;
  color: gray;
  font-family: 'Kalam', cursive;
}

.edit-link {
  color: black;
  cursor: pointer;
  
}

.signout-link {
  color: blue;
}

.close-menu-link {
  color: red;
  
}




/* .menu {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 5px;
  z-index: 2;
  background: yellow;
}

.first-link {
  background: lightblue;
}

.menu-link {
  width: 100%;

  margin-top: 15px;
  
} */



























