
.viewbar-area {
  width: 100%;
  height: 25px;
  background: lightgray;
  padding-top: 5px;


}

.vb-search {
  background: lightgray;
  height: 20px;
  width: 33.3%;
  display: inline-block;

  border-bottom: 1px solid black;
 
}

.viewbar-search {
  width: 75px;
  background:gray;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.viewbar-search-active {
  width: 75px;
  background:lightgray;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  z-index: 2;
}


.vb-result {
  background: lightgray;
  height: 20px;
  width: 33.3%;
  display: inline-block;
 
  border-bottom: 1px solid black;
}

.viewbar-result {
  width: 75px;
  background:gray;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.viewbar-result-active {
  width: 75px;
  background:lightgray;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  z-index: 2;
}

.vb-encounter {
  background: lightgray;
  height: 20px;
  width: 33.3%;
  display: inline-block;

  border-bottom: 1px solid black;
}

.viewbar-encounter {
  width: 75px;
  background:gray;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.viewbar-encounter-active {
  width: 75px;
  background:lightgray;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  z-index: 2;
}




/* .viewbar-search {
  background: red;
  height: 15px; 

} */

/* .viewbar-result {
  background: yellow;
} */

/* .viewbar-encounter {
  background: green;
} */
































