
.landing-page-container {
    height: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
 
}

.landing-page-background {
    background-image: url("../../images/Traffic-Stops.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
    min-width: 350px;
    width: 100%;
    max-width: 800px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .7;
}

.landing-page-formbox {
    width: 70%;
    max-width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

.landing-title {
    color: black;
    font-size: 36px;
    font-weight: bolder;
}

.landing-demo {
    color: blue;
    cursor: pointer;
}

.login-form {
    padding-bottom: 10px;
}

.landing-input-area {
    margin-top: 15px;
}

.landing-label {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.landing-input {
    color: black;
    padding-left: 5px;
}

.landing-login-btn {
    margin-top: 15px;
}

.username-error,
.password-error {
    font-size: 12px;
    color: red;
}
























