.tag-area {
  margin-bottom: 25px;
}


.tag-occurance {
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
}

.tag-state {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.tag-state-var {
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: red;
  letter-spacing: 1px;
}

.tag-make-model-area,
.tag-year-color-area,
.tag-owner-area {
  width: 100%;
  text-align: center;
}

.tag-make,
.tag-model,
.tag-year,
.tag-color,
.tag-owner {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.tag-make-var,
.tag-model-var,
.tag-year-var,
.tag-color-var,
.tag-owner-var {
  font-size: 14px;
  font-weight: bolder;
  color: red;
}

.tag-make,
.tag-year {
  margin-right: 30px;
}



.multi-result-info {
  margin-left: 10px;
  font-size: 14px;
  font-weight: bolder;
  color: blue;
  margin-bottom: 10px;
}
































